.jumbotron {
  margin-bottom: 0px !important;
  height: 4rem;
  background-image: url(../assets/clouds-background.jpeg);
  background-size: cover;
}

h1 {
  font-weight: 800 !important;
  font-size: 3rem !important;
  font-family: "Helvetica New", sans-serif;
  margin-top: -2rem !important;
}